@import "../../../global.scss";

.desktop_nav {
  display: none;
}
@media (min-width: 768px) {
  .desktop_nav {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    nav {
      width: 90%;
      max-width: 1700px;
      margin: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .logo_container {
        cursor: pointer;
        .logo_text {
          color: $primary-color;
          font-size: 15px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          padding-bottom: 3px;
        }
      }
      .menu {
        display: flex;
        align-items: center;

        .menu_ul {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          gap: 20px;

          .all_cars_container {
            position: relative;
            .all_cars {
              cursor: pointer;
              display: flex;
              align-items: center;
              gap: 5px;
              .all_cars_txt {
                color: #4c4c4c;
                font-size: 10px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
              }
              .arrow_container {
                display: flex;
                align-items: center;
                .arrow {
                  width: 10px;
                  height: 10px;
                  transition: transform 0.3s ease;
                }
                .arrow.rotated {
                  transform: rotate(180deg);
                }
              }
            }
            .car_list {
              position: absolute;
              background-color: #fff;
              box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
              top: 40.9px;
              left: 0;
              width: 160px;
              height: 0px;
              overflow: hidden;
              transition: height 0.3s ease;

              .car_list_container {
                display: flex;
                flex-direction: column;
                list-style: none;
                padding: 0;
                margin: 0;
                box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);

                .car_list_item {
                  color: #4c4c4c;
                  height: 25px;
                  font-size: 12px;
                  font-style: normal;
                  line-height: normal;
                  display: flex;
                  align-items: center;
                  padding-left: 20px;
                  border-top: 0.2px solid #b0b0b0;
                }
              }
              .car_list_container :first-child {
                border-top: none;
              }
            }
            .show_cars_open {
              height: 202px;
            }
          }
          .list_item {
            cursor: pointer;
            color: #4c4c4c;
            font-size: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
      }
      .searchbar_container {
        display: flex;
        align-items: center;
        .search_form {
          height: 100%;

          display: flex;
          justify-content: center;
          align-items: center;
          .search_input {
            font-size: 12px;
            border: none;
            padding: 14px 20px 14px;

            align-items: center;
            background: #fff;
            box-shadow: inset 0px 0px 3px 2px rgba(0, 0, 0, 0.15);
            &:focus {
              outline: none;
            }
          }

          .submit_button {
            background-color: $primary-color;
            border: none;
            width: 35px;
            height: 22px;
            padding: 10px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.15);
          }
        }
      }
      .language_selector_container {
        display: flex;
        align-items: center;
        position: relative;
        .language_select_image {
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 4px;
          .language_image_container {
            .language_image {
              width: 23px;
              height: 16px;
            }
          }
          .language_arrow_container {
            display: flex;
            align-items: center;
            .arrow {
              width: 10px;
              height: 10px;
              transition: transform 0.3s ease;
            }
            .arrow.rotated {
              transform: rotate(180deg);
            }
          }
        }
        .languages_container {
          position: absolute;
          box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
          top: 43.8px;
          height: 0;
          background-color: #fff;
          overflow: hidden;
          transition: height 0.3s ease;

          .language_image_container {
            display: flex;
            align-items: center;
            padding: 6px;
            .language_image {
              width: 25px;
              height: 17px;
              flex-shrink: 0;
            }
          }
        }
        .open {
          height: 123px;
        }
      }
    }
  }
}

@media (min-width: 900px) {
  .desktop_nav {
    height: 91px;
    nav {
      .logo_container {
        .logo_text {
          font-size: 22px;
          padding-bottom: 6px;
        }
      }
      .menu {
        .menu_ul {
          gap: 27px;
          .all_cars_container {
            .all_cars {
              gap: 7px;
              .all_cars_txt {
                font-size: 12px;
              }
            }
            .car_list {
              top: 53.2px;
              width: 200px;
              .car_list_container {
                .car_list_item {
                  font-weight: 400;
                  height: 30px;
                  font-size: 15px;
                }
              }
            }
            .show_cars_open {
              height: 242px;
            }
          }
          .list_item {
            font-size: 12px;
          }
        }
      }
      .searchbar_container {
        .search_form {
          .search_input {
            font-size: 14px;
            height: 40px;
            padding: 14px 37px 14px 30px;
          }

          .submit_button {
            width: 52px;
            height: 10px;
            padding: 15px 0px;
          }
        }
      }
      .language_selector_container {
        .language_select_image {
          .language_image_container {
            .language_image {
              width: 25px;
              height: 18px;
            }
          }
          .language_arrow_container {
            display: flex;
            align-items: center;
            .arrow {
              width: 10px;
              height: 10px;
            }
          }
        }
        .languages_container {
          top: 55.6px;
          .language_image_container {
            padding: 8px;
            .language_image {
              width: 28px;
              height: 20px;
            }
          }
        }
        .open {
          height: 150px;
        }
      }
    }
  }
}

@media (min-width: 1250px) {
  .desktop_nav {
    height: 105px;
    nav {
      .logo_container {
        .logo_text {
          font-size: 30px;
          padding-bottom: 8px;
        }
      }
      .menu {
        .menu_ul {
          gap: 40px;
          .all_cars_container {
            .all_cars {
              gap: 7px;
              .all_cars_txt {
                font-size: 16px;
              }
              .arrow_container {
                .arrow {
                  width: 12px;
                  height: 12px;
                }
              }
            }
            .car_list {
              top: 62px;
              .car_list_container {
                .car_list_item {
                  height: 35px;
                  font-size: 16px;
                }
              }
            }
            .show_cars_open {
              height: 285px;
            }
          }
          .list_item {
            font-size: 16px;
          }
        }
      }
      .searchbar_container {
        .search_form {
          .search_input {
            font-size: 15px;
          }
        }
      }
      .language_selector_container {
        .language_select_image {
          .language_image_container {
            .language_image {
              width: 30px;
              height: 20px;
            }
          }
          .language_arrow_container {
            display: flex;
            align-items: center;
            .arrow {
              width: 12px;
              height: 12px;
            }
          }
        }
        .languages_container {
          top: 63.7px;
          .language_image_container {
            padding: 8px;
            .language_image {
              width: 38px;
              height: 25px;
            }
          }
        }
        .open {
          height: 175px;
        }
      }
    }
  }
}
