.container {
  display: none;
}

@media (min-width: 800px) {
  .container {
    display: block;
    width: 90%;
    max-width: 1700px;

    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    .main {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .left {
        width: 28%;
      }
      .right {
        width: 70%;
        .header_search_container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 30px;
          .header {
            color: #535353;
            font-size: 26px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
          .search_container {
            cursor: pointer;
            .text {
              font-size: 13px;
              margin-bottom: 5px;
            }
            .select_wrapper {
              position: relative;
              border: 0.5px solid #6a6a6a;
              display: inline-block;
     

              
              select {
                appearance: none;
                padding: 12px 30px 12px 16px;
                -webkit-appearance: none;
                -moz-appearance: none;
                font-size: 14px;
                border: none;
                width: 100%;

                outline: none;

                &:focus {
                  outline: none;
                }
            
                &:active {
                  outline: none;
                }

           
              }
              .icon {
                position: absolute;
                top: 50%;
              right:5px;
                transform: translateY(-50%);
                pointer-events: none;
              }
            }
          }
        }
      }
    }
  }
}
