.filter_items_container {
  display: flex;
  margin-bottom: 20px;
  gap: 10px;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  &::-webkit-scrollbar {
    display: none;
  }
}
.select_item_container_wrapper {
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
}
