.car_card_container {
  display: grid;
  gap: 15px;
  margin-bottom: 30px;
}
.next_cars_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  .car_page_number {
    font-size: 12px;
    color: #4c4c4c;
    font-weight: 500;
  }
  .current_page_number {
    background-color: #1faee9;
    border-radius: 50px;
    color: #fff;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .next_icon_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    width: 25px;
    height: 25px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    .next_icon {
      width: 15px;
      height: 15px;
    }
  }
}

@media (min-width: 768px) {
  .car_card_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .car_card_container {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

@media (min-width: 1200px) {
  .car_card_container {
    gap: 25px;
  }
}
