.container {
  display: none;
}

@media (min-width: 768px) {
  .container {
    display: block;
    border-bottom: 0.5px solid #6a6a6a;
    .sub_wrapper {
      padding: 20px 20px 0;
      .header_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        cursor: pointer;
        .header {
          color: #4c4c4c;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        .open_close_icon_container {
          display: flex;
          align-items: center;
          .open_close_icon {
            width: 12px;
            height: 12px;
            font-weight: 400;
            color: #4c4c4c;
          }
        }
      }
      .cat_items_container {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        max-height: 0;
        overflow-y: auto;
        transition: max-height 0.3s ease;
        &.open {
          max-height: 200px;
          margin-bottom: 25px;
        }
        @-moz-document url-prefix() {
          scrollbar-width: thin;
          scrollbar-color: #cac9c9 #f2efef;
        }
        &::-webkit-scrollbar {
          width: 4px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #dedede;
          border-radius: 4px;
        }

        &::-webkit-scrollbar-track {
          background-color: #f2efef;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .container {
    .sub_wrapper {
      .header_container {
        .header {
          font-size: 18px;

          line-height: normal;
        }
        .open_close_icon_container {
          .open_close_icon {
            width: 14px;
            height: 14px;
          }
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  .container {
    .sub_wrapper {
      .header_container {
        .header {
          font-size: 20px;
        }
        .open_close_icon_container {
          .open_close_icon {
            width: 16px;
            height: 16px;
          }
        }
      }
      .cat_items_container {
        &.open {
          margin-top: 25px;
        }
      }
    }
  }
}
