@import "../../global.scss";

.container {
  display: grid;
  gap: 15px;
  margin-bottom: 30px;
}

@media (min-width: 570px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1250px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
