.car_page_container {
  width: 100%;
  min-height: 100vh;
  margin: auto;
  background-color: #f9f9f9;
  .car_map_container {
    width: 90%;
    max-width: 1800px;
    margin: auto;
    padding-top: 25px;
    margin-bottom: 12px;
    display: flex;
    gap: 5px;
    color: #4c4c4c;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;

    // .map_name {
    // }

    .current_car {
      color: #1faee9;
    }
  }
}

// @media (min-width: 768px) {
//   .car_page_container {
//     // min-height: 100vh;
//     // margin: auto;
//     .car_map_container {
//       width: 90%;
//       margin: auto;
//       padding-top: 25px;
//       margin-bottom: 12px;
//       display: flex;
//       gap: 5px;
//       color: #4c4c4c;
//       font-size: 10px;
//       font-style: normal;
//       font-weight: 500;

//       .map_name {
//       }

//       .current_car {
//         color: #1faee9;
//       }
//     }
//   }
// }
