.options_container {
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
  height: auto;

  .options_header {
    margin-bottom: 15px;
    color: #4c4c4c;
    font-size: 16px;
    font-weight: 800;
  }
}

@media (min-width: 500px) {
  .options_container {
    .options_header {
      font-size: 18px;
      margin-bottom: 25px;
    }
  }
}

@media (min-width: 1024px) {
  .options_container {
    padding: 40px 30px;
    .options_header {
      font-size: 18px;
      margin-bottom: 25px;
    }
  }
}
