.options_container {
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
    padding: 30px 20px;
    height: auto;

    .options_header {
        margin-bottom: 15px;
        color: #4C4C4C;
        font-size: 16px;
        font-weight: 800;
    }

}