@import "../../global.scss";

.button_container {
  width: 90%;
  height: auto;
  margin: auto;
  margin-bottom: 22px;
  .button {
    width: 100%;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    background: $primary-color;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    margin-top: 30px;
  }
}

@media (min-width: 768px) {
  .button_container {
    width: 100%;

    .button {
      height: 61px;
      font-size: 15px;
    }
  }
}

@media (min-width: 1024px) {
  .button_container {
    .button {
      height: 60px;
      font-size: 17px;
    }
  }
}
