@import "../../global.scss";

$transition-speed: 0.5s;
$image-width: 100%;

.home_container {
  background-color: #f9f9f9;
  width: 100%;
  .cover_container {
    display: flex;
    flex-direction: column-reverse;
    width: 90%;
    margin: auto;
    margin-bottom: 75px;
    padding-top: 35px;

    .form_container {
      background-color: #fff;
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
      padding: 27px 21px;

      .form {
        color: #4c4c4c;

        .form_header {
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin-bottom: 19px;
        }

        .button_container {
          display: flex;
          justify-content: space-between;
          margin-bottom: 31px;

          button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48%;
            height: 50px;
            font-size: 0.9rem;
            font-weight: 500;
            font-style: normal;
            color: #4c4c4c;
            background: #fff;
            line-height: normal;
            border: 0.7px solid #4c4c4c;
          }
          .selected_button {
            color: #fff;
            background: $primary-color;
            border: 0.7px solid $primary-color;
          }
        }

        .select_container {
          display: flex;
          flex-direction: column;
          width: 100%;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin-bottom: 19px;

          select {
            appearance: none;
            border: none;
            border: 0.5px solid #4c4c4c;
            border-bottom: none;
            font-weight: 500;
            font-size: 18px;
            background: url('data:image/svg+xml;utf8,<svg width="14" height="14" viewBox="0 0 9 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.875 3.22917C1.81941 3.22923 1.76508 3.24758 1.71887 3.28193C1.67267 3.31627 1.63666 3.36505 1.61539 3.42212C1.59412 3.47919 1.58855 3.54198 1.59938 3.60256C1.61022 3.66314 1.63696 3.7188 1.67625 3.7625L4.30125 6.67917C4.35398 6.73769 4.42547 6.77056 4.5 6.77056C4.57453 6.77056 4.64601 6.73769 4.69875 6.67917L7.32375 3.7625C7.36303 3.7188 7.38978 3.66314 7.40061 3.60256C7.41144 3.54198 7.40587 3.47919 7.3846 3.42212C7.36334 3.36505 7.32733 3.31627 7.28112 3.28193C7.23492 3.24758 7.18059 3.22923 7.125 3.22917H1.875Z" fill="%234C4C4C"/></svg>')
              no-repeat right 15px center;
            padding: 10px;
            height: 50px;
            color: #4c4c4c;
            cursor: pointer;

            &:last-child {
              border-bottom: 0.5px solid #4c4c4c;
            }

            &:focus {
              outline: 1.5px solid #0096d6;
            }
          }
        }

        .submit_button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          border: none;
          height: 50px;
          color: #fff;
          background: $primary-color;
          font-size: 18px;
          margin-bottom: 19px;
        }

        .advanced_search_container {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 5px;
          color: #4c4c4c;
          font-size: 0.8rem;

          .advance_search_text {
            cursor: pointer;
            font-weight: 400;
            font-size: 16px;
            line-height: normal;

            &:hover {
              color: #0096d6;
            }
          }

          .advance_search_icon {
            cursor: pointer;
          }
        }
      }
    }

    .header_cover_container {
      .header_container {
        color: #4c4c4c;
        font-style: normal;
        margin-bottom: 23px;

        .header {
          font-size: 26px;
          font-weight: 700;
          line-height: normal;
          margin-bottom: 12px;
        }

        .subtext {
          font-size: 12px;
          font-weight: 500;
          line-height: 18px;
        }
      }

      .cover_image_container {
        display: none;
      }
    }
  }

  .sections {
    background: #f3fbfe;

    .popular_container {
      margin-bottom: 35px;

      .popular_header_container {
        width: 100%;
        margin-bottom: 29px;

        .popular_header {
          color: #4c4c4c;
          font-size: 18px;
          font-style: normal;
          font-weight: 800;
          line-height: normal;
          width: 90%;
          margin: auto;
        }
      }

      .popular_images_cover_container {
        background-color: #fff;
        .popular_images_container {
          margin: auto;
          overflow: hidden;
          display: flex;
          white-space: nowrap;

          &::-webkit-scrollbar {
            height: 0px;
          }

          img {
            animation: scrollSlider 5s linear infinite;
            flex-shrink: 0;
            width: auto;
            height: 50px;
            padding-top: 18px;
            padding-bottom: 18px;
          }
        }
      }
    }
  }

  .why_section {
    width: 90%;
    margin: auto;

    .why_header {
      color: #4c4c4c;
      font-size: 18px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      margin-bottom: 2rem;
    }

    .why_card_container {
      display: grid;
      gap: 15px;
      margin-bottom: 3rem;
    }
  }
}

@media (min-width: 768px) {
  .home_container {
    .cover_container {
      flex-direction: row;
      justify-content: space-between;
      gap: 2.5rem;

      .form_container {
        flex: 1.2;

        .form {
          .form_header {
          }

          .button_container {
            margin-bottom: 20px;

            button {
              width: 48%;
              height: 37px;
              font-size: 13px;
              font-weight: 400;
            }
          }

          .select_container {
            select {
              height: 40px;
              font-size: 16px;

              &:focus {
                outline: 1px solid #0096d6;
              }
            }
          }

          .submit_button {
            height: 40px;
          }

          .advanced_search_container {
            .advance_search_text {
            }

            .advance_search_icon {
            }
          }
        }
      }

      .header_cover_container {
        flex: 2;
        display: flex;
        flex-direction: column;

        .header_container {
          flex: 0.5;

          .header {
            font-size: 26px;
          }

          .subtext {
            font-size: 12px;
            font-weight: 500;
            line-height: normal;
          }
        }

        .cover_image_container {
          flex: 2.5;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .sub_image_container {
            width: 100%;
            overflow: hidden;

            .image_container {
              display: flex;
              transition: transform 0.5s ease-in-out;
              width: 100%;
              margin-bottom: 1rem;

              .current_image {
                flex: 0 0 100%;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
          .select_image_container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2rem;

            // gap: 2rem;

            .icon_container {
              background-color: #fff;
              cursor: pointer;
              display: flex;
              width: 2rem;
              height: 2rem;
              border-radius: 50%;
              justify-content: center;
              align-items: center;
              filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.15));

              .icon {
                width: 15px;
                height: 15px;
              }
            }

            img {
              cursor: pointer;
              width: 74px;
              height: 40px;
            }

            .opacity {
              opacity: 0.2;
            }
          }

          .advertisement_container {
            width: 100%;

            .advert_image {
              width: 100%;
              object-fit: contain;
            }
          }
        }
      }
    }

    .sections {
      width: 100%;

      .popular_container {
        margin-bottom: 35px;

        .popular_header_container {
          .popular_header {
            font-size: 26px;
          }
        }

        .popular_images_cover_container {
          .popular_images_container {
            img {
              height: 70px;
              padding-top: 20px;
              padding-bottom: 20px;
            }
          }
        }
      }
    }

    .why_section {
      margin-top: 80px;

      .why_header {
        font-size: 26px;
        margin-bottom: 50px;
      }

      .why_card_container {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .home_container {
    .cover_container {
      // max-width: 1700px;
      gap: 3em;

      .form_container {
        flex: 1.1;

        .form {
          .form_header {
            font-size: 28px;
          }

          .button_container {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;

            button {
              height: 40px;
              font-size: 15px;
              font-weight: 500;
            }

            .used_button {
            }

            .damaged_button {
            }

            .selected_button {
            }
          }

          .select_container {
            select {
              height: 52px;
            }
          }

          .submit_button {
            height: 48px;
          }

          .advanced_search_container {
            .advance_search_text {
              font-size: 15px;
            }

            .advance_search_icon {
            }
          }
        }
      }

      .header_cover_container {
        flex: 2;

        .header_container {
          .header {
            font-size: 30px;
          }

          .subtext {
            font-size: 15px;
            font-weight: 500;
            line-height: 1.5;
          }
        }

        .cover_image_container {
          flex: 2.5;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .sub_image_container {
            .image_container {
              .current_image {
                width: 100%;
              }
            }
          }

          .select_image_container {
            .icon_container {
              .icon {
                width: 15px;
                height: 15px;
              }
            }

            img {
              width: 74px;
              height: 40px;
            }

            .opacity {
              opacity: 0.2;
            }
          }

          .advertisement_container {
            width: 100%;

            .advert_image {
              width: 100%;
              object-fit: contain;
            }
          }
        }
      }
    }

    .sections {
      width: 100%;

      .popular_container {
        margin-bottom: 35px;

        .popular_header_container {
          .popular_header {
            font-size: 32px;
            font-weight: 800;
          }
        }

        .popular_images_cover_container {
          .popular_images_container {
            &::-webkit-scrollbar {
              height: 0px;
            }

            img {
              height: 90px;
              padding: 25px auto;
            }
          }
        }
      }
    }

    .why_section {
      margin: auto;

      .why_header {
        font-size: 32px;
        margin-bottom: 50px;
      }

      .why_card_container {
        display: grid;
        gap: 40px;
        margin-bottom: 80px;
      }
    }
  }
}

@media (min-width: 1300px) {
  .home_container {
    .cover_container {
      gap: 5rem;
      padding-top: 80px;
      max-width: 1700px;

      .form_container {
        padding: 35px;
        flex: 1.5;

        .form {
          .form_header {
            font-size: 32px;
            margin-bottom: 30px;
          }

          .button_container {
            margin-bottom: 30px;

            button {
              height: 55px;
              font-size: 18px;
            }

            .used_button {
            }

            .damaged_button {
            }

            .selected_button {
            }
          }

          .select_container {
            select {
              height: 60px;
              font-size: 16px;
            }
          }

          .submit_button {
            height: 55px;
            font-size: 18px;
            font-weight: 500;
          }

          .advanced_search_container {
            .advance_search_text {
              font-size: 18px;
            }

            .advance_search_icon {
              width: 18px;
              height: 18px;
            }
          }
        }
      }

      .header_cover_container {
        flex: 2;

        .header_container {
          .header {
            font-size: 32px;
          }

          .subtext {
            font-size: 15px;
            font-weight: 500;
            line-height: 1.5;
          }
        }

        .cover_image_container {
          flex: 2.5;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .image_container {
            width: 100%;
            margin-bottom: 1rem;

            .current_image {
              width: 100%;
              object-fit: contain;
            }
          }

          .select_image_container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 2rem;

            .icon_container {
              width: 2.4rem;
              height: 2.4rem;

              .icon {
                width: 15px;
                height: 15px;
              }
            }

            img {
              width: 94px;
              height: 50px;
            }
          }
        }
      }
    }

    .sections {
      width: 100%;
      padding-bottom: 80px;

      .popular_container {
        margin-bottom: 35px;

        .popular_header_container {
          margin-top: 50px;

          .popular_header {
            margin: auto;
            max-width: 1700px;
            font-size: 36px;
          }
        }

        .popular_images_cover_container {
          .popular_images_container {
            max-width: 1700px;
            margin: auto;

            &::-webkit-scrollbar {
              height: 0px;
            }

            img {
              height: 120px;
            }
          }
        }
      }
    }

    .why_section {
      margin-top: 80px;
      margin-bottom: 150px;
      width: 90%;
      max-width: 1700px;

      .why_card_container {
        grid-template-columns: repeat(3, 1fr);

        gap: 60px;
        margin-bottom: 3rem;
      }
    }
  }
}

@keyframes scrollSlider {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
