.link_card_container {
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  padding: 10px;

  &:hover {
    transform: scale(1.01);
  }
  .contact_card_container {
    cursor: pointer;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    gap: 10px;

    .contact_image_container {
      display: flex;
      align-items: center;
      .contact_image {
        width: 56px;
        height: 56px;
      }
    }
    .card_text_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 7px;
      font-style: normal;
      line-height: normal;

      .card_header {
        color: #4c4c4c;
        font-size: 12px;
        font-weight: 700;
      }
      .card_subtext {
        color: #535353;
        font-size: 10px;
        font-weight: 400;
      }
    }
  }
}

@media (min-width: 768px) {
  .link_card_container {
    .contact_card_container {
      gap: 15px;
    }
  }
}

@media (min-width: 1000px) {
  .link_card_container {
    .contact_card_container {
      gap: 15px;

      .card_text_container {
        .card_header {
          font-size: 14px;
        }
        .card_subtext {
          font-size: 12px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .link_card_container {
    height: 91px;
    .contact_card_container {
      gap: 20px;
      .card_text_container {
        .card_header {
          font-size: 18px;
        }
        .card_subtext {
          font-size: 14px;
        }
      }
      .contact_image_container {
        .contact_image {
          width: 70px;
          height: 70px;
        }
      }
    }
  }
}
