.option_items_container {
  margin: 10px 0;
  color: #4c4c4c;
  font-size: 16px;

  .option_header_icon_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .option_header {
      font-weight: 800;
      font-size: 12px;
    }

    .header_icon {
      width: 12px;
      height: 12px;
    }
  }

  .option_list_container {
    margin-left: -10px;

    .option_li {
      font-size: 10px;
      margin-bottom: 7px;
    }
  }
}

@media (min-width: 500px) {
  .option_items_container {
    // margin: 10px 0;
    .option_header_icon_container {
      .option_header {
        font-weight: 800;
        font-size: 14px;
      }
    }

    .option_list_container {
      margin-left: -10px;

      .option_li {
        font-size: 12px;
        margin-bottom: 10px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .option_items_container {
    .option_header_icon_container {
      .option_header {
        font-size: 16px;
      }
    }
    .option_list_container {
      margin-left: 0;

      .option_li {
        font-size: 14px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .option_items_container {
    margin-top: 30px;

    .option_header_icon_container {
      .option_header {
        font-size: 18px;
        margin-bottom: 15px;
      }
    }
    .option_list_container {
      margin-left: 0;

      .option_li {
        font-size: 16px;
        margin-bottom: 20px;
      }
    }
  }
}
