.option_items_container {
  margin: 10px 0;
  color: #4c4c4c;
  //

  .option_header_icon_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 10px;
    cursor: pointer;

    .option_header {
      font-weight: 600;
      font-size: 14px;
    }

    .header_icon {
      width: 12px;
      height: 12px;
    }
  }

  .option_list_container {
    height: 0;
    overflow: hidden;
    padding-left: 30px;
    transition: height 0.3s ease;
    margin-left: 20px;
    &.open {
      height: 100px;
      overflow: visible;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    .option_li {
      font-size: 14px;
      margin-bottom: 20px;
    }
  }
}

@media (min-width: 1024px) {
  .option_items_container {
    .option_header_icon_container {
      .option_header {
        font-size: 16px;
      }
    }
    .option_list_container {
      margin-left: 0;

      .option_li {
        font-size: 14px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .option_items_container {
    .option_header_icon_container {
      .option_header {
        font-size: 18px;
      }
    }
    .option_list_container {
      margin-left: 0;
      &.open {
        margin-top: 30px;
      }

      .option_li {
        font-size: 16px;
        margin-bottom: 20px;
      }
    }
  }
}
