@use "../../../global.scss" as *;

.desktop_nav {
  display: none;
}
@media (min-width: 768px) {
  .desktop_nav {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    nav {
      width: 90%;
      max-width: 1700px;
      margin: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .logo_container {
        cursor: pointer;
        .logo_text {
          color: $primary-color;
          font-size: 23px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          padding-bottom: 3px;
        }
      }
      .menu {
        display: flex;
        align-items: center;
        height: 100%;

        .menu_ul {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          gap: 20px;

          .list_item {
            cursor: pointer;
            color: #4c4c4c;
            font-size: 11px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
      }
      .searchbar_container {
        display: flex;
        align-items: center;
        position: relative;

        .search_form {
          height: 100%;

          display: flex;
          justify-content: center;
          align-items: center;

          .search_input {
            font-size: 14px;
            border: none;
            padding: 14px 10px 14px;
            min-width: 200px;
            background: #fff;
            box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.15);

            &:focus {
              outline: none;
            }

            &::-webkit-search-cancel-button {
              display: none;
            }

            &::-moz-search-cancel-button {
              display: none;
            }

            &::-ms-clear {
              display: none;
            }
          }
          .submit_button {
            background-color: $primary-color;
            border: none;
            width: 35px;
            height: 22px;
            padding: 11px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.15);
          }
        }
        .suggestions_container {
          position: absolute;
          top: 40px;
          width: 100%;
          background-color: #fff;
          border: 0.5px solid #d1d5db;
          border-top: none;
          border-radius: 0 0 0.375rem 0.375rem;
          margin-top: 0.25rem;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
          max-height: 15rem;
          overflow-y: auto;
          box-sizing: border-box;
          font-size: 12px;
          @-moz-document url-prefix() {
            scrollbar-width: thin;
            scrollbar-color: #cac9c9 #f2efef;
          }
          &::-webkit-scrollbar {
            width: 4px;
          }

          &::-webkit-scrollbar-thumb {
            background-color: #dedede;
            border-radius: 5px;
          }

          &::-webkit-scrollbar-track {
            background-color: #f2efef;
          }
          .suggestion_item {
            padding: 0.65rem;
            cursor: pointer;
            &:hover {
              background-color: #f3f4f6;
            }
            &.selected {
              background-color: #f0f0f0;
            }
          }
        }
      }
      .language_selector_container {
        display: flex;
        align-items: center;
        position: relative;
        .language_select_image {
          cursor: pointer;
          display: flex;
          align-items: center;
          gap: 4px;
          .language_image_container {
            .language_image {
              width: 30px;
              height: 30px;
            }
          }
          .language_arrow_container {
            display: flex;
            align-items: center;
            .arrow {
              width: 10px;
              height: 10px;
              transition: transform 0.2s ease;
            }
            .arrow.rotated {
              transform: rotate(180deg);
            }
          }
        }
        .languages_container {
          position: absolute;
          box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
          top: 50.8px;
          height: 0;
          background-color: #fff;
          overflow: hidden;
          transition: height 0.2s ease;

          .language_image_container {
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 0 4px;
            .language_image {
              width: 28px;
              height: 30px;
              flex-shrink: 0;
            }
          }
        }
        .open {
          padding-top: 2px;

          height: 123px;
        }
      }
    }
  }
}

@media (min-width: 900px) {
  .desktop_nav {
    height: 91px;
    nav {
      .logo_container {
        .logo_text {
          font-size: 25px;
          padding-bottom: 6px;
        }
      }
      .menu {
        .menu_ul {
          gap: 27px;
          .list_item {
            font-size: 12.5px;
            font-weight: 600;
          }
        }
      }
      .searchbar_container {
        .search_form {
          .search_input {
            height: 40px;
            min-width: 200px;
            padding: 14px 20px 14px 20px;
          }

          .submit_button {
            width: 52px;
            height: 10px;
            padding: 15px 0px;
          }
        }
        .suggestions_container {
          top: 35.5px;
          .suggestion_item {
            padding: 0.7rem;
            cursor: pointer;
            font-size: 14px;
          }
        }
      }
      .language_selector_container {
        .language_select_image {
          .language_arrow_container {
            display: flex;
            align-items: center;
            .arrow {
              width: 10px;
              height: 10px;
            }
          }
        }
        .languages_container {
          top: 61.5px;
          .language_image_container {
            padding: 0 8px;
            .language_image {
              width: 35px;
              height: 35px;
            }
          }
        }
        .open {
          height: 145px;
        }
      }
    }
  }
}

@media (min-width: 1250px) {
  .desktop_nav {
    height: 105px;
    nav {
      .logo_container {
        .logo_text {
          font-size: 30px;
          padding-bottom: 8px;
        }
      }
      .menu {
        .menu_ul {
          gap: 40px;
          .list_item {
            font-size: 16px;
          }
        }
      }
      .searchbar_container {
        .search_form {
          .search_input {
            font-size: 16px;
            height: 50px;
          }
          .submit_button {
            width: 52px;
            height: 50px;
            padding: 0;
          }
        }
        .suggestions_container {
          top: 45px;
          .suggestion_item {
            padding: 0.7rem;
            cursor: pointer;
            font-size: 16px;

            &:hover {
              background-color: #f3f4f6;
            }
          }
        }
      }
      .language_selector_container {
        .language_select_image {
          .language_arrow_container {
            display: flex;
            align-items: center;
            .arrow {
              width: 12px;
              height: 12px;
            }
          }
        }
        .languages_container {
          top: 68.5px;

          .language_image_container {
            padding: 0 10px;
            .language_image {
              width: 40px;
              height: 40px;
            }
          }
        }
        .open {
          padding-top: 4px;

          height: 165px;
        }
      }
    }
  }
}
