.delivery_container {
  background-image: url("../../assets/images/about_images/delivery_image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fff;
  padding: 5%;
  font-style: normal;
  .delivery_info_wrapper {
    .delivery_header {
      font-size: 16px;
      font-weight: 800;
      line-height: normal;
      margin-bottom: 15px;
    }

    .delivery_text {
      font-size: 10px;
      font-weight: 500;
      line-height: 15px;
      margin-bottom: 20px;
    }
    .button {
      cursor: pointer;
      display: flex;
      width: 144px;
      height: 44px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      background: #1faee9;
      color: #fff;
      font-size: 12px;
      font-weight: 500;
    }
  }
}

@media (min-width: 600px) {
  .delivery_container {
    .delivery_info_wrapper {
      .delivery_header {
        font-size: 20px;
        font-weight: 700;
      }

      .delivery_text {
        font-size: 12px;
        font-weight: 400;
      }
      .button {
        font-weight: 500;
        font-weight: 500;
      }
    }
  }
}

@media (min-width: 768px) {
  .delivery_container {
    background-size: cover;
    height: 250px;
    padding: 6%;
    display: flex;
    justify-content: center;
    .delivery_info_wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      .delivery_header {
        font-size: 26px;
      }

      .delivery_text {
        font-size: 14px;
        line-height: 23px;
        font-weight: 500;
      }
      .button {
        font-size: 15px;
        font-weight: 500;
        font-weight: 500;
      }
    }
  }
}

@media (min-width: 1024px) {
  .delivery_container {
    background-image: url("../../assets/images/about_images/delivery_image.png");
    height: 300px;
    .delivery_info_wrapper {
      width: 100%;
      max-width: 1700px;
      margin: auto;
      gap: 30px;

      .delivery_header {
        font-size: 42px;
        font-weight: 800;
      }

      .delivery_text {
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
      }
      .button {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}

// @media (min-width: 1200px) {
//   .delivery_container {
//     background-image: url("../../assets/images/about_images/delivery_image.png");
//     height: 400px;
//     .delivery_info_wrapper {
//       width: 100%;
//       max-width: 1700px;
//       margin: auto;
//       gap: 30px;

//       .delivery_header {
//         font-size: 42px;
//         font-weight: 800;
//       }

//       .delivery_text {
//         font-size: 18px;
//         font-weight: 500;
//         line-height: 30px;
//       }
//       .button {
//         font-size: 18px;
//         font-weight: 500;
//       }
//     }
//   }
// }
